.papoi-container {
  background: #D7BC3F;
  padding: 30px;
  color: var(--background-color);
}

.papoi-container .default-content-wrapper{
  padding-left: 0;
}

.papoi-container .default-content-wrapper h2 {
  margin-bottom: 30px;
  text-align: center;
}

.papoi-container .default-content-wrapper p {
  color: green;
}

.papoi-container .papoi-wrapper {
  background: #61541C;
  padding: 20px;
}

.papoi {
  position: relative;
  min-height: 435px;
}

.papoi div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.papoi div div {
  width: 50%;
  height: 100%;
  display: block;
}

.papoi picture {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.papoi img {
  object-fit: cover;
  width: calc(50% - 40px);
  height: 100%;
}
