.hlx/*
coverage/*
logs/*
node_modules/*

helix-importer-ui
.DS_Store
*.bak
.idea

# Ensure these files are tracked
!CLAUDE.md
!AGENTS.md

# MCPs Directory
screenshots
.playwright-cli

#other
.aem-cli.log